[submodule "to-do-list-v2-frontend"]
	path = to-do-list-v2-frontend
	url = https://github.com/Inf-inity/to-do-list-v2-frontend
[submodule "to-do-list-v2-backend"]
	path = to-do-list-v2-backend
	url = https://github.com/Inf-inity/to-do-list-v2-backend
