version: "3.9"


services:
  app:
    build: ./to-do-list-v2-backend
    ports:
      - 5000:5000
    volumes:
      - ./to-do-list-v2-backend:/to-do-list-v2-backend:Z
    networks:
      - to-do-list-v2
    depends_on:
      - db
      - redis
  sveltekit:
    build: ./to-do-list-v2-frontend
    restart: always
    ports:
      - 3000:3000
    volumes:
      - ./to-do-list-v2-frontend:/to-do-list-v2-backend:Z
    environment:
      - VITE_BACKEND_URL=http://localhost:5000
    networks:
      - to-do-list-v2
    depends_on:
      - db
      - redis
  db:
    image: mariadb
    restart: always
    env_file: .env
    volumes:
      - ./data/mariadb:/var/lib/mysql
    networks:
      - to-do-list-v2
    ports:
      - 6666:3306
  redis:
    image: redis:alpine
    restart: always
    networks:
      - to-do-list-v2
    ports:
      - 7777:6379

networks:
  to-do-list-v2:
